
body {
	box-sizing: border-box;
	font-size: 16px;
	color: #fff;
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;
}


/* Header */
#header-nav {
	overflow: hidden;
	border-radius: 0;
	border: 0;
	background-color: #e6e6fa;

}


#logo-img {
	background: url('logo.jpg') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
	float: left;
}


/* navbar-brand a h4  (sabbath school)*/
.navbar-brand a { 
	text-decoration: none;
}

.navbar-brand h4 { 
	font-weight: bold;
	/*font-size: 2vw;*/
}


.navbar-brand a:hover, a:focus {
	color: #1c8adb;
}


/* navbar-brand p (Gethsemane church)*/
.navbar-brand p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: .10;
	font-size: .7em;
	/*text-transform: uppercase;*/
}


.navbar-brand p span {
	color: #1c8adb;
	/*vertical-align: middle;*/
}



.navbar .offcanvas-body .nav-item a:hover {
	color: #1c8adb;
	text-decoration: underline;
}



.navbar button.navbar-toggler { /* menu bar */
	color: #fff;
	border: 1px solid #1c8adb;

}


.navbar button.navbar-toggler:hover { /* Menu bar */
	background-color: #1c8adb;
	color: white;
}



.navbar ul li button:hover {
	text-decoration: underline;
	background: transparent;
}



.navbar ul li button {
	color: blue;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 6px;
}


/* Form */
#login-form {
	display: none;
}


.form-box {
	width: 380px;
	height: 480px;
	position: relative;
	margin: 2% auto;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
	overflow: hidden;
}


.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}


.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

















/*.navbar .offcanvas-body .nav-item b { /* Registration 
	font-style: italic;
	text-decoration: underline;
	font-size: 15px;
	color: green;
}




/*.navbar .offcanvas-body .nav-item b a:hover { /* Registration 
	color: red;
}/*




.navbar .offcanvas-body button:hover {
	color: white;
	background-color: #1353f2;
}


.navbar .offcanvas-body button {
	border-color: #1353f2;
	color: #1353f2;
}








