
body {
	box-sizing: border-box;
	font-size: 16px;
	color: #fff; 
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;
}

/* Header */
#header-nav {
	overflow: hidden;
	border-radius: 0;
	border: 0;
	background-color: #e6e6fa;

}

#logo-img {
	background: url('logo.jpg') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
	float: left;
}

/* navbar-brand a h4  (sabbath school)*/
.navbar-brand a { 
	text-decoration: none;
}

.navbar-brand h4 { 
	font-weight: bold;
	/*font-size: 2vw;*/
}

.navbar-brand a:hover, a:focus {
	color: #1c8adb;
}

/* navbar-brand p (Gethsemane church)*/
.navbar-brand p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: .10;
	font-size: .7em;

	
	/*text-transform: uppercase;*/
}

.navbar-brand p span {
	color: #1c8adb;
	
	/*vertical-align: middle;*/
}

.navbar .offcanvas-body button:hover {
	color: white;
	background-color: #1353f2;

}

.navbar .offcanvas-body button {
	border-color: #1353f2;
	color: #1353f2;

}


.navbar .offcanvas-body .nav-item a:hover {
	color: #1c8adb;
}


.navbar .offcanvas-body .nav-item b { /* Registration */
	font-style: italic;
	text-decoration: underline;
	font-size: 15px;
	color: green;
}

.navbar .offcanvas-body .nav-item b a{ /* Registration */
	color: green;
}

.navbar .offcanvas-body .nav-item b a:hover { /* Registration */
	color: red;
}


.navbar button.navbar-toggler { /* menu bar */
	color: #fff;
	border: 1px solid #1c8adb;

}

.navbar button.navbar-toggler:hover { /* Menu bar */
	background-color: #1c8adb;
	color: white;
}




.container .form__input .form__button{ /* form */
	color: #555;
	font-family: 'Oxygen', sans-serif;
}

.form { /* form */
	width: 330px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); 
	/*background: rgba(0, 0, 0, 0.001);*/
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center; 
}

.form > *:first-child { /* Login margin top */
	margin-top: 0;
}

.form > *:last-child { /* Don't have account margin bottom */
	margin-bottom: 0;
}

.form .form__message--success {
	color: green;
}

.form .form__message--error {
	color: red;
}

.form .form__input-group {
	margin-bottom: 1rem;
}

.form .form__button {
	margin-bottom: 1rem;
}

.form__title {
	margin-bottom: 1rem;
}

.form .form__message {
	margin-bottom: 1rem;
}

.form__input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: 30px;
	border: 1px solid #dddddd;
	outline: none;
	transition: 0.2s, border-color 0.2s;
}

 .form h5 {
 	font-size: 30px;
 	color: #1c8adb;
 	font-weight: bold;
 }

 .form  span {
 	color: #0d0d0d;
 }

.form hr {
	color: #dddddd; 
	margin-bottom: 2rem;
}
	
.form .form__button {
	display: block;
	width: 100%;
	border-radius: 30px;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: .75rem;
	cursor: pointer;
	background-color: #1c8adb;
}	

.form .form__button:hover {
	color: #ffffff;
}

.form__input:hover {
	border-color: #1c8adb;
	background-color: #ffffff;
}

.form__input--error {
	color: red;
	border-color: red;
}

.form__input--error-message {
	margin-bottom: 1rem;
	font-size: 0.85rem;
	color: red;
}

.form .form__text { /* Don't have an account */
	color: #1c8adb;
}


 






