
body {
	font-size: 16px;
	color: #fff;
	background-color: #0e1152;
	font-family: 'Oxygen', sans-serif;

}

/* Header */
#header-nav {
	overflow: hidden;
	border-radius: 0;
	border: 0;
	background-color: #e6e6fa
}

#logo-img {
	background: url('logo.jpg') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
	float: left;
}

/* navbar-brand a h4  (sabbath school)*/
.navbar-brand a { 
	text-decoration: none;
}

.navbar-brand h4 { 
	font-weight: bold;
}

.navbar-brand a:hover, a:focus {
	color: #555;
}

/* navbar-brand p (Gethsemane church)*/
.navbar-brand p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: .10;

	font-size: .7em;
	
	/*text-transform: uppercase;*/
}

.navbar-brand p span {
	color: #1353f2;
	
	/*vertical-align: middle;*/
}

.navbar .offcanvas-body button:hover {
	color: white;
	background-color: #1353f2;
}

.navbar .offcanvas-body button {
	border-color: #1353f2;
	color: #1353f2;
}


 



